/* --------------------------- //         GLOBAL        // --------------------------- */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url("/img/background.png");
  background-repeat: repeat-y;
  background-size: 100%;
  background-color: #1e1e1e;
  color: #1E1E1E;
}
/* clearfix hack to prevent image overflow*/
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* --------------------------- //         HEADER        // --------------------------- */
header {
  max-width:800px;
  text-align:center;
  padding: 10px 0;
  margin:auto;
  color:#ffffff;
  
  background:none;
  border-radius:100px;
}
header img.bannerImage {
  width:50%;
  max-width:300px;
  padding:20px;
  height:auto;
  text-align:center;
}
header a {
  color: #ffffff;
  text-decoration: none;
}
header a:hover {
  color:#5D5D5D;
}

/* --------------------------- //         FOOTER        // --------------------------- */
footer {
  max-width:800px;
  text-align:center;
  padding: 10px 0;
  margin:auto;
  color:#ffffff;
  
  background:none;
  border-radius:100px;
}
footer img { width:50px; }

footer .copyright { font-style:italic; }

footer a { color: #ffffff; text-decoration: none; }
footer a:hover { color:#5D5D5D; }

/* --------------------------- //         INDEX         // --------------------------- */
article.indexList img {
  width: 800px;
  max-width: 98%;
  border-radius:10px;
}
figcaption.indexFigcaption {
  text-align:center;
}
/* article.indexList .indexDate {
/*   display:inline-block;
/*   width:75px;
/* 
/*   padding-right:20px;
/*   text-align:right;
/*   font-size:small;
/*   color:#5D5D5D;
/* }
/* article.indexList a.contentLink {
/*   display: inline-block;
/*   padding-left:10px;
/* }

/* --------------------------- //    GLOBAL ARTICLE     // --------------------------- */
article {
  width: 600px;
  max-width: 98%;
  margin:20px auto;
  
  border: 0px solid;
  border-radius:25px;
  padding:20px 40px 40px;

  background:#ffffff
}
article a { color: #5D5D5D; }
article a:hover { color: #1E1E1E; text-decoration: none; }

/* --------------------------- // BLOG // COMIC // WIKI // --------------------------- */
/* --------------------------- // BLOG //       //      // --------------------------- */
article pre {
  border: 1px solid #1E1E1E;
  border-radius: 10px;
  padding: 15px;
  margin: 0 50px;
  margin-top: 20px;
  white-space: pre-wrap;
  overflow: hidden;
}
article p.publishDate {
  color:#5D5D5D;
  font-style:italic;
  font-size:small;
  line-height:0;
}
article.blogPost img {
  width: 800px;
  max-width: 98%;
  border-radius:25px;
}
article figcaption.codeCaption { margin: 5px 50px; }

/* --------------------------- //      // COMIC //      // --------------------------- */
article.comicPage {
  width: 800px;
  max-width: 98%;
  
  text-align:center;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}
article.comicPage .comicNav {
  padding: 10px 0px 0px;
}
article.comicPage .comicNav img {
  width: 80px;
  padding-right: 30px;
}
.comicPage .rarebitCredit {
  font-size:small;
  line-height:0;
}
article.comicPage .currentPage img {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  width:800px;
  max-width:98%
}
/* --------------------------- //      //       // WIKI // --------------------------- */
div.wikiEntry {
  display: none;
}
div.wikiEntry a:hover {
  text-decoration: none;
}
article.wiki {
  width: 600px;
}
nav.wikiNav {
  text-align:center;
  margin-bottom:10px;
}
figure.wikiDetailsRight{
  max-width:400px;
  width: 30%;
  margin:10px;
  margin-left:20px;
  
  float: right;
}
figcaption.wikiCaption {
  padding:5px;
  text-align:center;
  font-style:italic;
}
img.wikiPortrait {
  border-radius:25px;
  width:100%;
  height:auto;
}
div.wikiEntry  {
  overflow: auto;
}
h2.wikiTitle {
  position: relative;
  width: calc(100% - 30% - 30px);
}
h2.wikiTitle::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: #1E1E1E;
}

/* --------------------------- //     HOVER EFFECTS     // --------------------------- */
/* --------------------------- // SWITCH IMAGE ON HOVER // --------------------------- */
div.changeImageOnHover {
  align-items: center;
  position:relative;
  font-size:smaller;
}
div.changeImageOnHover img.defaultImage, div.changeImageOnHover img.hoverImage {
  top: 0;
  left: 0;
  width:100%;
  height: auto;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
div.changeImageOnHover img.hoverImage {
  position: absolute;
  opacity: 0%;
}
div.changeImageOnHover img.hoverImage:hover {
  opacity:100%;
}
/* --------------------------- //  BLOG TITLE ON HOVER  // --------------------------- */
figure.titleOnHover {
  position: relative;
}
figure.titleOnHover figcaption{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 0.4s;

  font-size:large;
  font-weight:bold;
}
figure.titleOnHover img{
  transition: 0.4s;
}
figure.titleOnHover:hover figcaption  {
  color: white;
  text-shadow: 2px 2px 2px #1E1E1E;
  transition: 0.8s;
}
figure.titleOnHover:hover img {
  filter:blur(5px);
}

/* --------------------------- //         MOBILE        // --------------------------- */
@media only screen and (max-width: 800px) {
  /* ARTICLE */
  article {
    width:75% !important;
    margin:none !important;
  }
  pre {
    font-size: smaller;
    width: 90% !important;
    margin:0px !important;
    padding: 10px !important;
    white-space: pre-wrap;
    overflow: hidden;
  }
  article figure {
    padding-top:5px;
    width: 90% !important;
    margin: auto !important;
  }

  /* INDEX PAGES */
  article.blogList ul, article.comicsList ul {
    padding:0;
  }
  span.date {
    display:none !important;
  }
  a.title {
    white-space: no-wrap !important;
    overflow: hidden;
  }

  /* INDEX PAGE */
  div.index {
    flex-direction: column;
    max-height: none;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  figure.titleOnHover figcaption  {
    color: white;
    text-shadow: 2px 2px 2px #1E1E1E;
    transition: 0.8s;
  }
  figure.titleOnHover img {
    filter:blur(5px);
  }

  /* IMAGES */
  div.headerImage img, article:not(.wiki) figure img {
    width:100% !important;
    padding:20px 0px;
  }

  /* COMIC */
  article.comicPage {
    width:100% !important;
    padding:20px 0px;
  }
  .currentPage img {
    max-width:100%;
  }
  .comicNav img {
    width: 60px;
    padding:0;
  }

  /* HEADER & FOOTER */
  header {
    padding-top:20px;
  }
  header nav a {
    border:2px solid white;
    border-radius: 25px;
    padding:5px 10px;
    vertical-align: middle;
  }
  .rarebitCredit p {
    font-size:smaller;
  }
  .rarebitCredit img {
    width:40%;
    height:auto;
  }
  .copyright {
    font-size: smaller;
  }
}

  /* take away margins from the edges of the screen */
html, body {
  margin: 0;
}