/* Base styles - Mobile first */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 800px;
  max-width: 98%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  padding: 10px 0;
  background-color: #f4f4f4;
}

header {
  text-align: center;
  border-bottom:#1e1e1e dotted 2px;
  padding:20px;
  margin-bottom: 20px;
}

header img {
  width: 800px;
  max-width: 98%;
}

.comicNav {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  padding: 10px 0px;
}
.comicNav img {
  width: 80px;
  max-width: 98%;
  padding-right: 30px;
}

.comicPage img {
  width: 900px;
  max-width: 98%;
}

h1 {
  font-size: 1.8rem;
  color: #353535;
}

h3 a{
  color: #353535;
  text-decoration:underline;
}
h3 a:hover{
  color: #9a9a9a;
  text-decoration:none;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav a, a {
  text-decoration: underline;
  color: #1e1e1e;
}
nav a:hover, a:hover {
  text-decoration: none;
  color: #9e9e9e
}

main .intro {
  text-align: center;
  margin-bottom: 20px;
}

main .content {
  display: block;
}

article {
  background-color: #ffffff;
  color:#353535;
  padding: 15px 30px;
  margin: 20px 0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

article p {
  margin:10px 0;
}

hr {
  border-top:#9a9a9a dotted 2px;
  margin: 20px
}

article img {
  max-width:100%
}

a.comicLink {text-decoration: none;}
a.comicLink article {
  transition: 0.3s;
  border: #9a9a9a dotted 3px;
}
a.comicLink article:hover {
  border: #353535 solid 3px;
}

a.blogLink {text-decoration: none;}
a.blogLink article {
  transition: 0.3s;
}
a.blogLink article:hover {
  color:white;
  background:#353535;
}

.updateDate {
  font-style:italic;
  color:#9a9a9a;
  font-size:small;
  margin-bottom:10px;
}

iframe {
  width:100% ;
  height:200px;
}

.comicLink {
  font-size:large;
}

footer {
  text-align: center;
  padding: 10px 0;
  color: #353535;
  border-top:#1e1e1e dotted 2px;
  margin-top: 20px;
}

.socialsNav img {
  max-width: 50px;
  margin: 3px;
}

/* Responsive styles */
@media (min-width: 768px) {
  /* Tablet */
  main .content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
  }

  article {
      margin-bottom: 0;
  }

  h1 {
      font-size: 2.5rem;
  }

  iframe {
    height:315px;
  }
}

@media (min-width: 1024px) {
  /* Desktop */
  body {
      padding: 40px;
      max-width: 1200px;
      margin: auto;
  }

  nav ul li {
      margin: 0 20px;
  }

  h1 {
      font-size: 3rem;
  }

  main .intro {
      margin-bottom: 40px;
  }

  footer {
      padding: 20px 0;
  }
}
