html, body {
    background-color: #1E1E1E;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
}

/* LINKS */
a {
    text-underline-offset: 2px;
}
a:link {
    color:#D7D7D7;
}
a:visited {
    color:#9A9A9A;
}
a:hover {
    color:#9A9A9A;
    text-decoration:none;
}
a:active {
    color:#5D5D5D;
}

/* IMAGES */
div.gallery img {
    width: 20%;
    height: auto;
}

/* HEADINGS */
h1, h2 {
    text-decoration-line: underline;
    text-underline-offset: 2px;
}