body {
    background: #1e1e1e;
    color: #1e1e1e;
    font-family: tahoma;
    overflow: hidden;
}
a {
    color:#5d5d5d;
    font-style:italic;
}
a:hover {
    text-decoration:none;
}

/*
body::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(128, 128, 128, 0.1) 20%, rgba(0,0,0, 0) 20%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 200;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
}
*/

header {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    
    height: 40px;
    width: calc(100% - 20px*2);
    padding: 5px 20px;
    
    background: white;
}
header h1 {
    float: left;
    font-size: medium;
    margin-right: 20px;
}
header nav {
    display: flex;
    float: left;
}
header nav button {
    display: inline-block;
    
    height: 30px;
    width: 30px;
    
    border: 2px solid #1e1e1e;
    border-radius: 50px;
    
    vertical-align: center;
    
    text-align: center;
    font-weight: bold;
    font-size: x-small;
    
    vertical-align: center;
    margin-right:5px;
    
    opacity:50%;
    background: none;
}
header nav button#latestButton {
    opacity: 100%;
}
header nav button:hover {
    cursor: pointer;
    border: 2px dotted #1e1e1e;
}

#latest, #comic, #blog, #wiki, #pictureFrame {
    position: absolute;
    border: 1px black #1e1e1e;
    filter: drop-shadow(0 0 0.75rem black);
    background: white;
    overflow-y: scroll;
    overflow-x: hidden;
}
#latest {
    height: 85%;
    width: 30%;
    min-width: 300px;
    
    top: 10%;
    left: 65%;

    z-index:1;
}
#comic {
    display: none;
    
    height: 90%;
    width: 50%;
    min-width: 300px;
    
    top: calc(50% - 42.5%);
    left: calc(50% - 30%);

    z-index:4;
}
#blog {
    display: none;
    
    height: 60%;
    width: 35%;
    min-width: 300px;
    
    top: 32.5%;
    left: 5%;

    z-index:3;
}
#wiki {
    display:none;
    
    height: 50%;
    width: 40%;
    min-width: 300px;
    
    top: 15%;
    left: 10%;

    z-index:2;
}
#pictureFrame {
    height:40%;
    width:60%;

    top:20%;
    left:30%;

    z-index:5;
}
.windowContent {
    padding: 20px;
    font-size:small;
}

/*
.window:hover {
    z-index:1000;
}
*/

.titleBar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    
    border-top:2px solid white;
    border-left:2px solid white;
    
    height: 40px;
    background: #1e1e1e;
    
    cursor: grab;
    
    display: flex;
    align-items: center;
    padding-left:20px;
    font-size:small;
    font-weight:bold;
    color: white;
}
.titleBar:active {
    cursor: grabbing;
}

/* Handle styles */
.handle {
    width: 10px;
    height: 10px;
    background-color: #333;
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: se-resize; /* Resize cursor */
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    border:2px solid white;
    border-left:none;

    background-clip: padding-box;
    background-color: #1e1e1e;
}

div.blogPost img {
    width:100%;
}
div.blogpost code {
    width:100%;
    flex-wrap:wrap;
    border-top: 1px solid #1e1e1e;
    border-bottom: 1px solid #1e1e1e;
    overflow:hidden;
}